.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: silver;
  display: flex;
  flex-direction: column;
}

.command-input {
  height: 4rem;
  background-color: black;
  color: white;
  font-size: 1.3rem;
}

.screen {
  flex: 1;
}

.screen-text {
  padding-left: 3rem;
  font-size: 1.6rem;
  text-align: left;
}
